<%- include ("_layouts/header") %>

<!-- <div class="starter-template">
  <h1>Hello there</h1>
</div> -->

<main role="main" class="container">
  <div class="starter-template">
    <%- content %>
  </div>
</main>

<%- include ("_layouts/footer") %>
